<html>


<head>
  
  <title>angular tutorial</title>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
   <script src="scrippys.js"></script>
</head>

<body ng-app="myApp">
<div ng-controller="names1Ctrl">

<p>Looping with objects:</p>
<ul>
  <li ng-repeat="x in names | orderBy:'state'">
    {{ x.name + ', ' + x.state }}
  </li>
</ul>

</div>
<div ng-controller="namesCtrl">

<ul>
  <li ng-repeat="x in names | filter : 'i'">
    {{ x }}
  </li>
</ul>



<p>This example displays only the names containing the letter "i".</p>

</div>



</body>

</html>